In [3]:
# Load the data and libraries
import pandas as pd
import numpy as np

payroll = pd.read_csv('https://data.cityofnewyork.us/resource/k397-673e.csv')
print(payroll)

     fiscal_year  payroll_number                agency_name    last_name  \
0           2020              67  ADMIN FOR CHILDREN'S SVCS  KIRSHENBAUM
1           2020              67  ADMIN FOR CHILDREN'S SVCS    ARMSTRONG
2           2020              67  ADMIN FOR CHILDREN'S SVCS       SCHEAR
3           2020              67  ADMIN FOR CHILDREN'S SVCS       BARTON
4           2020              67  ADMIN FOR CHILDREN'S SVCS       AILURI
..           ...             ...                        ...          ...
995         2020              67  ADMIN FOR CHILDREN'S SVCS       GALVEZ
996         2020              67  ADMIN FOR CHILDREN'S SVCS     ANDERSON
997         2020              67  ADMIN FOR CHILDREN'S SVCS       HOLMES
998         2020              67  ADMIN FOR CHILDREN'S SVCS        MOORE
999         2020              67  ADMIN FOR CHILDREN'S SVCS         HALL

     first_name mid_init        agency_start_date work_location_borough  \
0        SHELLY        P  1996-06-23T00:00:00.000              RICHMOND
1       JAVONNE        R  2004-09-20T00:00:00.000              RICHMOND
2         NAOMI      NaN  2017-02-27T00:00:00.000             MANHATTAN
3         TISHA        B  2011-07-04T00:00:00.000                 BRONX
4         KAVYA      NaN  2016-06-20T00:00:00.000             MANHATTAN
..          ...      ...                      ...                   ...
995      MARLEE        C  2016-09-12T00:00:00.000              BROOKLYN
996    LORRAINE        E  2011-07-04T00:00:00.000                 BRONX
997  JACQUELINE      NaN  1996-06-23T00:00:00.000             MANHATTAN
998       TAMMY      NaN  1996-06-23T00:00:00.000                 BRONX
999   CLAUDETTE        P  1996-06-23T00:00:00.000             MANHATTAN

                                     title_description  \
0               CHILD PROTECTIVE SPECIALIST SUPERVISOR
1                         DIRECTOR OF FIELD OPERATIONS
2           ADMINISTRATIVE DIRECTOR OF SOCIAL SERVICES
3                               CONGREG CARE SPEC- DJJ
4                                  COMPUTER SPECIALIST
..                                                 ...
995                                    AGENCY ATTORNEY
996  ADMINISTRATIVE DIRECTOR OF RESIDENTIAL CHILD CARE
997                           CHILD WELFARE SPECIALIST
998                       DIRECTOR OF FIELD OPERATIONS
999                       DIRECTOR OF FIELD OPERATIONS

    leave_status_as_of_july_31  base_salary  pay_basis  regular_hours  \
0                       ACTIVE      92515.0  per Annum         1820.0
1                       ACTIVE     102904.0  per Annum         1820.0
2                       ACTIVE     128750.0  per Annum         1820.0
3                       ACTIVE      74147.0  per Annum         2080.0
4                       ACTIVE     109320.0  per Annum         1820.0
..                         ...          ...        ...            ...
995                     ACTIVE      91563.0  per Annum         1820.0
996                     ACTIVE      95118.0  per Annum         1820.0
997                     ACTIVE      55944.0  per Annum         1820.0
998                     ACTIVE     102904.0  per Annum         1820.0
999                     ACTIVE     102904.0  per Annum         1820.0

     regular_gross_paid  ot_hours  total_ot_paid  total_other_pay
0              91086.64    214.50       16280.21          5313.31
1             101340.50      0.00           0.00             0.00
2             126793.63      0.00           0.00             0.00
3              71762.02    750.00       39436.92          1482.20
4             103661.78      0.00           0.00          2541.03
..                  ...       ...            ...              ...
995            90914.40    111.75        7145.98          3782.88
996            91840.65    155.75        9560.12           405.38
997            54869.22    840.75       38206.26          8723.12
998           101340.50      0.00           0.00             0.00
999           101340.50      0.00           0.00             0.00

[1000 rows x 17 columns]